<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteason.dao.AnswerDao">
    <insert id="insertAnswer">
        insert into answer(id, contents, answerer, image, qid)
        values (null, #{content}, #{answerer}, #{image}, #{qid})
    </insert>
</mapper>