<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteason.dao.CourseDao">
    <select id="getCourse" resultType="com.iteason.entity.Course">
        select *
        from course
        order by url asc
    </select>

    <select id="getMaxCourse" resultType="int">
        select count(*)
        from course
    </select>

    <select id="searchCourse" resultType="com.iteason.entity.Course">
        SELECT *
        FROM `course`
        where tname = #{params}
           or contents like concat('%', #{params}, '%')
    </select>

    <select id="getCourseById" resultType="com.iteason.entity.Course">
        select *
        from course
        where cid = #{id}
    </select>

    <insert id="addCourse">
        insert into course(cname, tname, contents, url, cover)
        values (#{cname}, #{tname}, #{contents}, "", #{cover})
    </insert>

    <update id="updateUrl">
        update course
        set url = #{url}
        where cname = #{cname}
    </update>

    <update id="updateClick">
        update course
        set click = click + 1
        where cid = #{cid}
    </update>
</mapper>