<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteason.dao.CourseDao">
    <select id="getCourse" resultType="com.iteason.entity.Course">
        select * from course order by url asc
    </select>
</mapper>