<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteason.dao.TeacherDao">
    <select id="getTeacher" resultType="com.iteason.entity.Teacher">
        select * from teacher where tname = #{name}
    </select>
</mapper>